/* Minimal CSS Reset adapted from alligator.io */

html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #f2f2f2;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Arial', 'Tahoma', sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
	text-decoration: none;
	color: black;
}

/* Styles for Nav Bar */

#masthead {
	background-color: #00a680;
	min-height: 60px;
  align-items: flex-start;
	display: flex;
	justify-content: space-between;
}

#logo {
	width: 230px;
	margin: 7px 20px;
}

#user-nav {
	display: flex;
	align-self: stretch;
}

#user-nav-links {
	display: flex;
	align-self: stretch;
	font-size: 12px;
}

#user-nav-links div {
	min-width: 70px;
	text-align: center;
	align-self: center;
	min-height: 60%;
  border-right: 1px solid #4cbaa0;
}

#user-nav-links div:last-child {
	border-right: none;
}

	#user-nav-links div a {
		color: white;
	}

		#user-nav-links div a img {
	    width: 18px;
	    display: block;
	    margin: 4px auto;
		}

#search {
  align-self: center;
  margin: 0px 20px;
}

	#search input {
		padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 2px;
	}

#global-nav {
  min-height: 46px;
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  padding-left: 12px;
}

	#global-nav > ul {
		display: flex;
	}

	#global-nav ul #global-nav-selected {
		border-bottom: 2px solid #00a680;
		font-weight: bold;
	}

	#global-nav ul #global-nav-selected .tray {
		margin-top: 2px;
	}

	#global-nav ul li a {
		padding: 14px;
		display: block;
		height: 100%;
	}

	#global-nav ul li a:hover {
		color: #00a680;
	}

	#global-nav a + .tray {
		border: 1px solid lightgrey;
		background-color: #ffffff;
	  width: 250px;
	  position: absolute;
	  min-height: 46px;
		display: none;
	}

		#global-nav a:hover + .tray, .tray:hover {
			display: block;
		}

		.tray ul li a {
			color: #555555;
			padding: 5px;
		}

		.tray ul li a:hover {
			color: #000000;
		}

/* Styles for Hotel Basics */

#hotel-basics {
	background-color: #ffffff;
	min-height: 150px;
	padding: 24px;
	color: #555555;
}

	#hotel-basics a {
		color: #00a680;
	}

	#hotel-basics a:hover {
		color: #555555;
	}

#hotel-basics h1 {
  padding: 10px 0px;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
}

#rating-container span, #contact-container span {
	padding-right: 20px;
  border-right: 1px solid #DDDDDD;
  margin-right: 20px;
}

	#rating-container span:last-child, #contact-container span:last-child {
		border-right: none;
	}

#contact-container {
	margin: 10px 0px;
}

	#contact-container span {
		background-repeat: no-repeat;
	  background-position: 0% 50%;
	  padding: 2px 28px;
	  background-size: 16px;
	}

		#address {
			background-image: url("./img/location.svg");
			background-size: 20px;
		}

		#phone {
			background-image: url("./img/phone.svg");
		}

		#website {
			background-image: url("./img/website.svg");
		}
