/* Minimal CSS Reset adapted from alligator.io */

html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #f2f2f2;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Arial', 'Tahoma', sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
	text-decoration: none;
	color: black;
}

/* Styles for Container Divs ---------------------------*/

.listing-content {
	display: flex;
  flex-direction: row;
  margin: 1rem;
}

#booking {
	background-color: aliceblue;
  width: calc(100% / 3 * 1);
}


/* Media Queries: Medium Devices ---------------------------*/
@media only screen and (max-width : 800px) {
	#booking {
	  width: 100%;
	}

	.gallery {
		width: 100%;
	}

	#hero {
  	height: 200px;
	}

	#hotel-basics #address {
		display: block;
    margin-bottom: 10px;
    border: none;
	}

	#user-nav-links div span {
		display: none;
	}

	#user-nav-links div a img {
    width: 20px;
    display: block;
    margin: 8px auto;
	}

	/* #masthead & #global-nav should collapse into bar with hamburger button. */

}


/* Media Queries: Small Devices ---------------------------*/
@media only screen and (max-width: 600px) {

	.listing-content {
		flex-flow: column;
	}

	#booking {
		width: 100%;
	  margin-bottom: 1rem;
	}

	#photo-gallery {
		width: 100%;
		margin-left: 0px;
	}

	#address, #ranking {
		display: none;
	}

	#rating-container #rating {
		border: none;
	}

}